.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  height: max-content;
  flex: 1;
  background-color: #febb02;
  position: sticky;
  top: 10px;

  border-radius: 10px;
  padding: 1rem;
}
.listResult {
  flex: 3;

  border-radius: 10px;
}

.lsTitle {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 10px;
}
.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.lsItem > span {
  padding: 5px;
  background-color: white;
  align-items: center;
  cursor: pointer;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  color: rgb(58, 57, 57);
  font-size: 15px;
}

.lsOptionInput {
  width: 70px;
}

.lsOptionBtn {
  width: 100%;
  background-color: rgb(36, 157, 173);
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
